////////////////////////////////////////
// Posts
////////////////////////////////////////
.post {
  position: relative;
  font-family: "Noto Serif", serif;
  line-height: 1.8;
  padding-bottom: 2rem;
  margin-top: 3rem;

  &-title {
    line-height: 1.2;
    margin-bottom: 0;
  }

  &-meta {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: .8rem;
    color: #999;
    margin-bottom: 2rem;
  }

  a,
  strong {
    color: #383838;
  }

  blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2,
  h3,
  h4 {
    line-height: 1.2;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  hr {
    border: none;
    text-align: center;
    height: .25rem;
    display: block;
    margin: 4rem auto;

    &::before {
      content: '...';
      font-family: serif;
      color: rgba(0, 0, 0, .5);
      display: block;
      letter-spacing: 1rem;
      margin-top: -2rem;
    }
  }
}

// Small screens
@media (max-width: 767px) {
  .post {
    padding-bottom: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &-title {
      font-size: 2rem;
    }

    blockquote {
      padding-left: 1rem;
      margin-left: 0;
    }
  }
}

// Page posts (posts using the post.micro.dust template)
.page .post-title {
  margin-bottom: 2rem;
}

// Micro posts (posts using the post.micro.dust template)
.micro .cover.has-cover {
  height: 25vh;
}

.micro .post-title {
  font-size: 1rem;
  text-align: left;
  color: #bbb;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.micro {
  .post {
    font-size: 1.4rem;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &-author {
    font-size: .8rem;
    color: #bbb;
    margin-bottom: 4rem;

    .micro-author-avatar {
      width: 1.4rem;
      height: 1.4rem;
      vertical-align: middle;
      border-radius: 50%;
      margin-right: .25rem;
    }

    a {
      text-decoration: none;
    }
  }
}

// Post images
.post img {
  max-width: 100%;
}

figure.image {
  display: block;

  img {
    width: 100%;
    display: block;
  }
}

// Images without alignment
.post figure.image {
  &:not(.align-left):not(.align-right):not(.align-center) {
    width: calc(100% + 8rem);
    margin-left: -4rem;;
  }

  // Captions  
  figcaption {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: .8rem;
    color: #aaa;
    text-align: center;
    margin-top: .5rem;
  }

  // Left-aligned images
  &.align-left {
    width: 60%;
    float: left;
    margin: 0 1.5rem 1rem -4rem;
  }

  // Right-aligned images
  &.align-right {
    width: 60%;
    float: right;
    margin: 0 -4rem 1rem 1.5rem;
  }

  // Center-aligned (cover) images
  &.align-center {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

// Medium screens
@media (max-width: 991px) {
  // Left-aligned images
  .post figure.image {
    &.align-left {
      width: 50%;
      margin: 0 1.5rem 1rem 0;
    }

    // Right-aligned images
    &.align-right {
      width: 50%;
      float: right;
      margin: 0 0 1rem 1.5rem;
    }

    // Images without alignment
    &:not(.align-left):not(.align-right):not(.align-center) {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }
}

// Responsive embeds
.post {
  [data-embed] iframe {
    width: 100%;
  }

  // YouTube and Vimeo videos via oEmbed
  [data-embed-provider="Vimeo"],
  [data-embed-provider="YouTube"] {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1rem;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Post tags
.post-tags {
  position: relative;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

  .tag {
    background-color: #f2f2f2;
    color: #888;
    padding: .5rem 1rem;
    transition: .2s background-color, .2s color;
    margin-right: .25rem;
    margin-bottom: .25rem;

    &:hover {
      background-color: #d9d9d9;
      color: #777;
    }
  }
}

// Small screens
@media (max-width: 767px) {
  .post-tags {
    text-align: center;
    padding-right: 0;
  }
}

// Post share
.post-share {
  font-size: .7rem;
  text-align: right;
  margin-top: 1rem;
  padding-left: 1rem;

  .share-button {
    margin-left: .25rem;
    margin-bottom: .25rem;

    &:first-child {
      margin-left: 0;
    }

    &:not(:hover) {
      background-color: #ccc;
    }
  }
}


// Small screens
@media (max-width: 767px) {
  .post-share {
    text-align: center;
    padding-left: 0;
  }
}

// Post author section
.post-author {
  &-body {
    position: relative;
    border-top: solid .2rem #f2f2f2;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 7rem;
    padding-right: 2rem;
    margin-top: 2rem;
  }

  &-avatar {
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  &-role {
    font-size: .8rem;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &-name {
    font-size: 1.4rem;
    font-weight: bold;

    a {
      text-decoration: none;
    }
  }

  &-bio {
    font-size: .8rem;
    color: #999;
    line-height: 1.6;
  }
}


// Small screens
@media (max-width: 767px) {
  .post-author {
    &-body {
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &-avatar {
      position: static;
    }
  }
}

// Suggested posts
.post-suggested {
  &-post {
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
    text-decoration: none;
    background-color: #f8f8f8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    transition: .2s transform;

    &:hover {
      transform: scale(1.05);
    }

    // Suggested posts with a cover photo get lighter text
    &[data-cover="true"] {
      color: rgba(255, 255, 255, .8);

      .post-suggested-title {
        color: white;
      }
    }
  }

  &-next:not(:last-child) {
    border-right: solid .15rem white;
  }

  &-prev:not(:first-child) {
    border-left: solid .15rem white;
  }

  // Hover effects for prev/next posts
  &:hover .post-suggested-post:not(:hover) {
    transform: scale(.95);
  }

  &-body {
    padding: 8rem 4rem;
  }

  &-title {
    text-transform: none;
    color: #333;
    margin-bottom: 0rem;
  }
}

// Medium screens
@media (max-width: 991px) {
  .post-suggested-body {
    padding: 6rem 3rem;
  }
}

// Small screens
@media (max-width: 767px) {
  .post-suggested-body {
    font-size: .8rem;
    padding: 4rem 2rem;
  }
}